*/target/
/target
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
mybatisGeneratorinit.properties
generatorConfig.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/.idea/
workspace.xml

logging.path_IS_UNDEFINED/
.log
application-local.yml
